archive/
article/
alphafoldDB/
abims.config
alphafold_database.jpg
annotationsheet-slurm.csv

benchmark.config
benchmarks/

conf/benchmark*.config

docs/
data-darkdino/
data-test/faure/
docs-dev/
docs-save/
data-benchmarks/

pfamDB/
pipeline-full.jpg
pipeline-summary.jpg
params_pc_perso.yaml
params_darkdino.yaml

resources-small.config
results
run_slurm.sh

structure.jpg
structure.svg
sequences.fasta

nextflow_benchmarks.config

uniprot_function.json

work/
workdir/

*.sif
*.drawio

.$structure.drawio.bkp
.$pipeline.drawio.bkp
.$pipeline.drawio.dtmp
.$structure.drawio.dtmp
.nextflow/
.nextflow.log*












