docs/
archive/
*.sif
alphafoldDB/
pfamDB/
uniprot_function.json
data-darkdino/
data-test/faure/
docs-dev/
results
workdir
.nextflow/
.nextflow.log*
docs-save/
resources-small.config
abims.config
benchmark.config
work/
