    // Load ressources and process parameters
includeConfig 'conf/base.config'

/*
* -------------------------------------------------
*  Nextflow config file for processes options
* -------------------------------------------------
* Defines general paths for input files and
* parameters for your own LAGOON-MCL analysis
*/

params {
    
    /*
    General parameters
    */
    help = false

    /*
    Ressources
    */
    max_cpus = 15
    max_memory = '60.GB'
    max_time = '336.h'

    // Analyzed project name
    projectName = "lagoon-mcl_workdir"

    /* General parameters */

    // input fasta
    fasta =  null
    // concat_fasta = "all_sequences"

    /* CATH database */

    // run_gene3d = true
    scan_gene3d = true
    //gene3d = null
    gene3d_aln = null
    hmm_profile = null
    domain_list = null
    discontinuous = null


    /* ESM Atlas */
    
    scan_esm_atlas = true
    //esm_atlas = true
    esm_aln = null
    esm_db = null

    /* AlphaFold Database */

    scan_alphafold_db = false
    //alphafold_db = false
    alphafold_aln = null
    alphafold_db = null

    /* Other information */

    // annotation
    //attributes = false
    
    annotation_files = null
    //pep_colname = null
    // annotation_files = null
    peptides_column = null
    //annotation_attrib = "database-identifiant,interproscan"

    //information = false
    information_files = null
    information_attrib = null

    // Output directory
    outdir = "$baseDir/results"

    run_diamond = true

    // diamond database
    diamond_db = "reference"
    
    // diamond blastp option    
    alignment_file = null

    diamond = "diamond_alignment.tsv"
    sensitivity = "sensitive"
    matrix = "BLOSUM62"
    diamond_evalue = 0.001

    // diamond result

    // network
    // MCL
    I = "1.4,2,4"
    max_weight = 350 


}

// Capture exit codes from upstream processes when piping
//process.shell = ['/usr/bin/env bash', '-euo', 'pipefail']

// Execution profiles
profiles {
	test { 
        includeConfig 'conf/test.config'
    }
	singularity {
		singularity.autoMounts = true
		singularity.enabled = true
		process {
            withLabel: lagoon {
			    container = "$projectDir/containers/lagoon-mcl/lagoon-mcl.sif"
            }
            withLabel: diamond {
			    container = "$projectDir/containers/diamond_2.1.8/diamond.sif"
            }
            withLabel: cath {
			    container = "$projectDir/containers/cath-tools_0.16.5/cath-tools.sif"
            }
            withLabel: hmmer {
			    container = "$projectDir/containers/hmmer_3.4/hmmer.sif"
            }
            withLabel: mcl {
			    container = "$projectDir/containers/mcl_22.282/mcl.sif"
            }
		}
		workDir = "$projectDir/workdir/$params.projectName"
	}
	conda {
		conda.enabled = true
		process {
            withLabel: lagoon {
			    conda = "$projectDir/containers/lagoon-mcl/lagoon-mcl.yml"
            }
            withLabel: diamond {
			    conda = "$projectDir/containers/diamond_2.1.8/diamond.yml"
            }
            withLabel: cath {
			    conda = "$projectDir/containers/cath-tools_0.16.5/cath-tools.yml"
            }
            withLabel: hmmer {
			    conda = "$projectDir/containers/hmmer_3.4/hmmer.yml"
            }
            withLabel: mcl {
			    conda = "$projectDir/containers/mcl_22.282/mcl.yml"
            }
		}
		workDir = "$projectDir/workdir/$params.projectName"
	}
	mamba {
		conda.enabled = true
        conda.useMamba = true
		process {
            withLabel: lagoon {
			    conda = "$projectDir/containers/lagoon-mcl/lagoon-mcl.yml"
            }
            withLabel: diamond {
			    conda = "$projectDir/containers/diamond_2.1.8/diamond.yml"
            }
            withLabel: cath {
			    conda = "$projectDir/containers/cath-tools_0.16.5/cath-tools.yml"
            }
            withLabel: hmmer {
			    conda = "$projectDir/containers/hmmer_3.4/hmmer.yml"
            }
            withLabel: mcl {
			    conda = "$projectDir/containers/mcl_22.282/mcl.yml"
            }
		}
		workDir = "$projectDir/workdir/$params.projectName"
	}
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file = "${params.outdir}/reports/report_${trace_timestamp}.html"
}
// create a diagram of tasks
dag {
    enabled = true
    file = "${params.outdir}/reports/dag_${trace_timestamp}.html"
}
// produce a timeline report in html : timeline.html
timeline {
    enabled = true
    file = "${params.outdir}/reports/timeline_${trace_timestamp}.html"
}
// enable trace to get a detailed report on each task trace.txt
trace {
    enabled = true
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,env,workdir,script,scratch,error_action'
    file = "${params.outdir}/reports/trace_${trace_timestamp}.tsv"
    sep = '\t'
}

manifest {
    name            = 'jroussea/lagoon-mcl'
    author          = """Jeremy Rousseau"""
    homePage        = 'https://github.com/jroussea/lagoon-mcl'
    description     = """LArge cOmparatie Omics Network"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.10.0'
    version         = '1.0.2'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
