/*
* -------------------------------------------------
*  Nextflow config file for processes options
* -------------------------------------------------
* Defines general paths for input files and
* parameters for your own LAGOON-MCL analysis
*/

params {
    
    /* General parameters */
    help = false

    /* Ressources */
    max_cpus = 40
    max_memory = '110.GB'
    max_time = '336.h'

    /* General parameters */
    projectName = "lagoon-mcl_workdir"
    fasta =  null
    outdir = "${projectDir}/results"

    /* HMMER - hmmsearch */
    //Z = 10000000
    //domE = 0.001
    //incdomE = 0.001

    /* CATH database */
    //gene3d_aln = null
    //hmm_profile = null
    //domain_list = null
    //discontinuous = null

    /* Pfam database */
    scan_pfam = true
    //pfam_aln = null
    pfam_db = null
    pfam_name = null

    /* ESM Atlas */
    scan_esm = false
    esm_aln = null
    esm_db = null
    esm_name = null

    se_esm = "very-sensitive"
    ma_esm = "BLOSUM62"
    ev_esm = 0.00001

    /* AlphaFold Database */
    scan_alphafold = false
    alphafold_aln = null
    alphafold_db = null
    se_alphafold = "very-sensitive"
    ma_alphafold = "BLOSUM62"
    ev_alphafold = 0.00001

    /* Other information */
    annotation_files = null

    //taxonomy_files = null

    /* Diamond BLASTp */
    alignment_file = null
    sensitivity = "sensitive"
    matrix = "BLOSUM62"
    evalue = 0.001

    /* MCL */
    I = "1.4,"
    max_weight = 350 
    cluster_size = 3
}