/*
* -------------------------------------------------
*  Nextflow config file for processes options
* -------------------------------------------------
* Defines general paths for input files and
* parameters for your own LAGOON-MCL analysis
*/

params {
    
    /* General parameters */
    help = false
    monochrome_logs = false

    /* Ressources */
    max_cpus = 200
    max_memory = '750.GB'
    max_time = '336.h'

    /* General parameters */
    projectName = "lagoon-mcl_workdir"
    fasta =  null
    outdir = "${projectDir}/results"

    /* database */
    database = null

    /* Pfam database */
    scan_pfam = true
    pfam_path = null
    pfam_name = null
    pf_sensitive = 7
    pf_kmer = 6

    /* alphafold database */
    alphafold_path = null
    alphafold_name = null
    af_sensitive = 5.7
    af_kmer = 5

    /* Other information */
    annotation = null

    /* Diamond BLASTp */
    alignment_file = null
    sensitivity = "very-sensitive"
    matrix = "BLOSUM62"
    evalue = 0.001

    /* MCL */
    I = "1.4,2"
    max_weight = 200 
    cluster_size = 2
}
