/*
* -------------------------------------------------
*  Nextflow config file for processes options
* -------------------------------------------------
* Defines general paths for input files and
* parameters for your own LAGOON-MCL analysis
*/

params {

    /* General parameters */
    help = false

    /* Ressources */
    max_cpus = 200
    max_memory = '750.GB'
    max_time = '336.h'

    /* General parameters */
    projectName = "lagoon-mcl"
    fasta =  "${projectDir}/data-test/fasta/*.fasta"
    outdir = "${projectDir}/results"

    /* Pfam database */
    scan_pfam = true
    pfam_path = "${projectDir}/database/pfamDB"
    pfam_name = "pfamDB"

    
    /* alphafold database */
    alphafold_path = "${projectDir}/database/alphafoldDB"
    alphafold_name = "alphafoldDB"
    uniprot = "${projectDir}/database/uniprot_function.json"
    
    /* Other information */
    annotation = "${projectDir}/data-darkdino/annotationsheet-slurm.csv"

    /* Diamond BLASTp */
    alignment_file = null
    sensitivity = "sensitive"
    matrix = "BLOSUM62"
    evalue = 0.001

    /* MCL */
    I = "1.4,2,4"
    max_weight = 200 
    cluster_size = 2
}
