//define max for resources (expected to be overwritten)
params {
    max_cpus = 32
    max_memory = 200.GB
    max_time = 168.h
}

process {
    // Capture exit codes from upstream processes when piping
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']

    withName: InformationFiles {
        cpus = 6
        memory = 16.GB
        time = 48.h
    }

    withName: SelectLabels {
        cpus = 6
        memory = 16.GB
        time = 48.h
    }

    withName: LabelHomogeneityScore {
        cpus = 6
        memory = 16.GB
        time = 48.h
    }


    withName: DiamondDB {
        cpus = 8
        memory = 16.GB
        time = 48.h
        maxRetries = 3
    }

    withName: DiamondBLASTp {
        cpus = 14
        memory = 60.GB
        time = 48.h
    }

    withName: FiltrationAlignments {
        cpus = 6
        memory = 16.GB
        time = 48.h
    }

    withName: NetworkMcxload {
        cpus = 6
        memory = 24.GB
        time = 48.h
    }

    withName: NetworkMcl {
        cpus = 6
        memory = 24.GB
        time = 48.h
    }

    withName: NetworkMcxdump {
        cpus = 6
        memory = 24.GB
        time = 48.h
    }

    withName: NetworkMclToTsv {
        cpus = 6
        memory = 24.GB
        time = 48.h
    }

    withName: NetworkMclToTsv {
        cpus = 6
        memory = 24.GB
        time = 48.h
    }

    withName: HomogeneityScore {
        cpus = 6
        memory = 24.GB
        time = 48.h
    }

    withName: PlotHomogeneityScore {
        cpus = 6
        memory = 24.GB
        time = 48.h
    }

    withName: PlotClusterSize {
        cpus = 6
        memory = 24.GB
        time = 48.h
    }

    
}
