/*
* -------------------------------------------------
*  Nextflow config file for processes options
* -------------------------------------------------
* Defines general paths for input files and
* parameters for your own LAGOON-MCL analysis
*/

params {
    
    /* General parameters */
    help = false

    /* Ressources */
    max_cpus = 40
    max_memory = '110.GB'
    max_time = '336.h'

    /* General parameters */
    projectName = "lagoon-mcl_test"
    fasta =  "${projectDir}/test/fasta/*.fasta"
    outdir = "${projectDir}/results"

    /* HMMER - hmmsearch */
    //Z = 10000000
    //domE = 0.001
    //incdomE = 0.001

    /* CATH database */
    //gene3d_aln = null
    //hmm_profile = null
    //domain_list = null
    //discontinuous = null

    /* Pfam database */
    scan_pfam = true
    //pfam_aln = null
    pfam_db = "${projectDir}/database/pfamFull"
    pfam_name = "pfamFull"

    /* ESM Atlas */
    scan_esm = true
    esm_aln = null
    esm_db = "${projectDir}/database/esmAtlas30"
    esm_name = "esmAtlas30"

    /*
    se_esm = "very-sensitive"
    ma_esm = "BLOSUM62"
    ev_esm = 0.00001
    */
    /* AlphaFold Database */
    /*
    scan_alphafold = false
    alphafold_aln = null
    alphafold_db = null
    se_alphafold = "very-sensitive"
    ma_alphafold = "BLOSUM62"
    ev_alphafold = 0.00001
    */
    /* Other information */
    annotation_files = null

    //taxonomy_files = null

    /* Diamond BLASTp */
    alignment_file = null
    sensitivity = "sensitive"
    matrix = "BLOSUM62"
    diamond_evalue = 0.001

    /* MCL */
    I = "1.4,2,4"
    max_weight = 350 
    cluster_size = 3
}
