params {
    
    /*
    General parameters
    */
    help = false

    /*
    Ressources
    */
    max_cpus = 15
    max_memory = '60.GB'
    max_time = '336.h'

    // Analyzed project name
    projectName = "lagoon-mcl"

    /* General parameters */

    // input fasta
    fasta =  "test/full/tr_files_test/*.fasta"
    // concat_fasta = "all_sequences"

    /* CATH database */

    // run_gene3d = true
    scan_gene3d = true
    //gene3d = null
    gene3d_aln = null

    /* ESM Atlas */
    
    scan_esm_atlas = true
    //esm_atlas = true
    esm_aln = null

    /* AlphaFold Database */

    scan_alphafold_db = false
    //alphafold_db = false
    alphafold_aln = null

    /* Other information */

    // annotation
    //attributes = false
    
    annotation_files = "test/full/an_files_test/*.tsv"
    //pep_colname = null
    // annotation_files = null
    peptides_column = null
    //annotation_attrib = "database-identifiant,interproscan"

    //information = false
    information_files = "test/full/in_files_test/*.tsv"
    information_attrib = "Phylum_Metdb,Genus_Metdb,trophic_mode"

    // Output directory
    outdir = "$baseDir/results"

    run_diamond = true

    // diamond database
    diamond_db = "reference"
    
    // diamond blastp option    
    alignment_file = null

    diamond = "diamond_alignment.tsv"
    sensitivity = "sensitive"
    matrix = "BLOSUM62"
    diamond_evalue = 0.001

    // diamond result

    // network
    // MCL
    I = "1.4,2,4"
    max_weight = 350 


}