/*
* -------------------------------------------------
*  Nextflow config file for processes options
* -------------------------------------------------
* Defines general paths for input files and
* parameters for your own LAGOON-MCL analysis
*/

params {
    
    /* General parameters */
    help = false

    /* Ressources */
    max_cpus = 40
    max_memory = '110.GB'
    max_time = '336.h'

    /* General parameters */
    projectName = "lagoon-mcl_test-full"
    fasta =  "${projectDir}/test/fasta/*.fasta"
    outdir = "${projectDir}/results"

    /* Pfam database */
    scan_pfam = true
    pfam_db = null
    pfam_name = null

    /* Other information */
    annotation_files = "${projectDir}/test/annotation/*.tsv"

    /* Diamond BLASTp */
    alignment_file = null
    sensitivity = "sensitive"
    matrix = "BLOSUM62"
    diamond_evalue = 0.001

    /* MCL */
    I = "1.4,2,4"
    max_weight = 200 
    cluster_size = 3
}